{% extends "blog/base.html" %}
{% block content %}
<div class="jumbotron">
    <p>Bilo je to u nekoj zemlji seljaka
        na brdovitom Balkanu,
        umrla je mučeničkom smrću
        četa đaka
        u jednom danu.
        
        Iste su godine
        svi bili rođeni,
        isto su im tekli školski dani,
        na iste svečanosti
        zajedno su vođeni,
        od istih bolesti svi pelcovani
        i svi umrli u istom danu.
        
        Bilo je to u nekoj zemlji seljaka
        na brdovitom Balkanu
        umrla je junačkom smrću
        četa đaka
        u istom danu.
        
        A pedeset i pet minuta
        pre smrtnog trena
        sedela je u đačkoj klupi
        četa malena
        i iste zadatke teške
        rešavala: koliko može
        putnik ako ide peške…
        i tako redom.
        
        Misli su im bile pune
        i po sveskama u školskoj torbi
        besmislenih ležalo je bezbroj
        petica i dvojki.
        Pregršt istih snova
        i istih tajni
        rodoljubivih i ljubavnih
        stiskali su u dnu džepova.
        I činilo se svakom
        da će dugo
        da će vrlo dugo
        trčati ispod svoda plava
        dok sve zadatke na svetu
        ne posvršava.
        
        Bilo je to u nekoj zemlji seljaka
        na brdovitom Balkanu
        umrla je junačkom smrću
        četa đaka
        u istom danu.
        
        Dečaka redovi celi
        uzeli se za ruke
        i sa školskog zadnjeg časa
        na streljanje pošli mirno
        kao da smrt nije ništa.
        
        Drugova redovi celi
        istog časa se uzneli
        do večnog boravišta.</p>
        <p>Desanka Maksimović</p>
</div>

    
{% endblock content %}